[submodule "common"]
	path = common
  url = git@github.com:YunTechAi-FreeSpaceTechnic/common.git
  branch = new-common
[submodule "models/vincent_model"]
	path = models/vincent_model
	url = git@github.com:YunTechAi-FreeSpaceTechnic/vincent_model.git
[submodule "models/yuan_model"]
	path = models/yuan_model
	url = git@github.com:YunTechAi-FreeSpaceTechnic/yuan_model.git
  branch = main
