[submodule "common"]
	path = common
	url = git@github.com:YunTechAi-FreeSpaceTechnic/common.git
[submodule "models/vincent_model"]
	path = models/vincent_model
	url = git@github.com:YunTechAi-FreeSpaceTechnic/Model-Vincent.git
